body, html {
  margin: 0;
  padding: 0;
  height: 667px;
  width: 375px; 
  position: relative;
  overflow: hidden; 
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.truck {
  position: absolute;
  z-index: 2;
  max-height: 15%;
  max-width: 36%;
  right: 0;
  top: 60%; /* 50% から 60% に変更 */
  transform: translateY(-50%);
}

.tatsuro {
  position: absolute;
  z-index: 2;
  max-height: 15%;
  max-width: 10%;
  left: calc(15px);
  bottom: 100px;
}

.start-btn, .jump-btn, .reset-btn {
  position: absolute;
  z-index: 3;
  font-size: 1rem; /* 1.5rem から 1rem に変更 */
  padding: 10px; /* 15px から 10px に変更 */
  cursor: pointer;
}

.start-btn {
  top: 5px; /* 10px から 5px に変更 */
  left: 5px; /* 10px から 5px に変更 */
}

.jump-btn {
  top: 5px; /* 10px から 5px に変更 */
  left: 100px; /* 180px から 100px に変更 */
}

.reset-btn {
  top: 5px; /* 10px から 5px に変更 */
  left: 200px; /* 350px から 200px に変更 */
}

.message {
  position: absolute;
  z-index: 3;
  font-size: 1rem; /* 2rem から 1rem に変更 */
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  display: none;
  background-color: white;
  padding: 5px; /* 10px から 5px に変更 */
  border-radius: 4px; /* 8px から 4px に変更 */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); /* 10px から 5px に変更 */
}

.message.success {
  color: green;
  border: 2px solid green;
}

.message.failure {
  color: red;
  border: 2px solid red;
}

